@import 'tailwindcss';
@plugin 'flowbite-react/plugin/tailwindcss';
@source '../.flowbite-react/class-list.json';
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@layer base {
  /* 기본 (라이트 모드) 변수 */
  :root {
    --background: #ffffff;
    --foreground: #0a0a0a;
  }

  /* data-theme="dark" 속성이 있을 때 적용될 다크 모드 변수 */
  [data-theme="dark"] {
    --background: #111827;
    --foreground: #ededed;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
